{
# backstop reference site
LIVE_SITE_URL=https://sf.gov
# backstop test site
MULTIDEV_SITE_URL=https://sfgov.lndo.site

# 1/null - Visual/CSS
# 2 - Availability filter.
# 3 - Filters - group 1.
# 4 - Filters - group 2.

TEST_TYPE=1
}
